main {
	padding: 0 120px;
}

.logo {
	height: 2.78rem;
	margin-left: 7.5rem;
}

button {
	background-color: transparent;
}

button,
a {
	cursor: pointer;
	outline: none;
	border: none;
}

/*****HEADER*****/

.photograph-header {
	background-color: var(--color-light-medium);
	height: 18.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 5px;
	padding: 40px;
	margin-top: 40px;
}

.photographer-profile-infos {
	display: flex;
	flex-direction: column;
	order: 0;
}

.portrait-Container {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin: 20px;
	width: 200px;
	height: 200px;
	order: 2;
	border-radius: 50%;
	overflow: hidden;
	margin: 51px 20px 30px 20px;
}
.photographer-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	scale: 1.3;
	margin-top: 1%;
	margin-right: 2%;
}

.photographer-name h1 {
	color: var(--color-tertiary);
	font-size: 2.3rem;
	font-weight: 400;
	width: 100%;
}

.photographer-city {
	color: var(--color-primary);
	font-size: 1.2rem;
	font-weight: 400;
	margin-top: 10px;
}

.photographer-tagline {
	color: var(--color-dark);
	font-size: 1rem;
	font-weight: 400;
	margin-top: 20px;
}

.contact-button {
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--color-light);
	padding: 0.69rem;
	width: 10.625rem;
	height: 4.38rem;
	border: none;
	background-color: var(--color-primary);
	border-radius: 0.313rem;
	cursor: pointer;
	display: flex;
	order: 1;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.btn-open:hover,
.btn-open:focus {
	background-color: var(--color-secondary);
	color: var(--color-black);
}

/****** CONTACT MODAL ********/

.wrapper {
	z-index: 1;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: rgba(33, 32, 32, 0.7);
	inset: 0;
}

.modal {
	position: absolute;
	left: 30%;
	top: 13%;
	/*transform: translate(-50%, -50%);*/
	border-radius: 0.5rem;
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40rem;
	padding: 2rem;
	transform: translateY(-150px);
	animation: fadeIn 0.3s ease-in-out forwards;
}

.modal header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 1rem;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.modal-name-photographer {
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	margin-bottom: 10px;
}

.moadal form {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 10;
}

.formData {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.formData label {
	color: #312e2e;
	font-size: 2em;
}

.formData input {
	height: 50px;
	padding-left: 10px;
	border: none;
	border-radius: 5px;
}

.formData textarea {
	border-radius: 5px;
	height: 150px;
	resize: none;
	padding: 10px;
}

.errormessage {
	display: none;
	color: red;
	font-weight: bold;
}

.formData input[aria-invalid="false"],
.formData textarea[aria-invalid="false"] {
	border: 3px solid green;
}

.formData input[aria-invalid="true"],
.formData textarea[aria-invalid="true"] {
	border: 3px solid red;
}

.btn-submit {
	max-width: 150px;
	font-size: 2em;
	font-weight: bold;
	color: var(--color-light);
	background-color: var(--color-primary);
	border-radius: 5px;
	padding: 0.69rem;
	width: 10.625rem;
	height: 4.38rem;
	margin-top: 0.5rem;
}

.btn-submit:hover,
.btn-submit:focus {
	outline: 2px solid var(--color-light);
}

.modal-close-btn {
	width: 5rem;
	height: 5rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/****MEDIAS********/

.medias {
	margin-top: 30px;
	margin-bottom: 60px;
}

.gallery {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px 60px;
}

.gallery-card {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.gallery-card figure {
	border-radius: 0.5rem;
}

.gallery-media {
	border-radius: 0.5rem;
	height: 380px;
	width: 100%;
}

.gallery-card figcaption {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.gallery-card figcaption h2 {
	font-weight: 400;
	color: var(--color-primary);
	font-size: 1.5rem;
}

.gallery-card figcaption div {
	align-self: flex-start;
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--color-primary);
	font-size: 1.3rem;
}

.btn-like {
	border-radius: 5px;
	padding: 0 1px;
	font-size: 1.3rem;
	color: var(--color-secondary);
}

.btn-like:focus-visible:not(:hover) {
	outline: 2px solid var(--color-secondary);
}

.btn-like.wished {
	color: var(--color-primary);
}

aside {
	z-index: 1;
	position: fixed;
	bottom: 0;
	right: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	width: 375px;
	height: 89px;
	padding: 30px;
	margin-top: 20px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.5rem;
	background-color: var(--color-secondary);
}

/*****LIGHTBOX*****/
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.lightbox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-light);
	padding: 25px 60px 18px;
	border-radius: 5px;
	opacity: 0;
	transform: translateY(-150px);
	animation: fadeIn 0.3s ease-in-out forwards;
}

.btn-close-lightbox {
	z-index: 1;
	position: absolute;
	top: 2%;
	right: 13px;
	cursor: pointer;
	border: none;
}

.btn-close-lightbox:hover {
	transform: scale(1.2);
}

.btn-close {
	color: var(--color-primary);
	font-size: 60px;
	width: 72px;
	height: 72px;
}
.controls-left {
	color: var(--color-primary);
	display: flex;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.controls-left .fa-solid {
	font-size: 60px;
}

.controls-right {
	display: flex;
	position: absolute;
	top: 49%;
	right: 30px;
	transform: translateY(-50%);
	cursor: pointer;
	align-items: center;
	justify-content: center;
	color: var(--color-primary);
}

.controls-right .fa-solid {
	font-size: 60px;
}

.lightbox-media {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.media-lightbox img,
.media-lightbox video {
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.media-lightbox figcaption {
	font-size: 24px;
	font-weight: 400;
	padding-left: 20px;
	color: var(--color-primary);
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
/*  TRI */

.form-wrapper {
	/*display: flex;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	align-items: baseline;
	justify-content: space-between;*/
	margin: 2rem 0;
}
/*
#sorter-select {
	
	width: 10.625rem;
	height: 4.38rem;

	background-color: #901c1c;
	color: #ffffff;
	font-size: 1.1rem;
	font-weight: 700;
	border-radius: 0.5rem;
	border: 1rem solid #901c1c;
	outline: none;
	cursor: pointer;
}*/

.Title-select {
	font-size: 1.1rem;
	font-weight: 700;
	margin-right: 1rem;
}

.dropdown_content {
	max-height: 0;
	background-color: var(--color-primary);
	transition: max-height 0.1s ease-in-out;
}

.dropdown_content li {
	position: relative;
	width: 150px;
}

.dropdown_content li::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 85%;
	height: 1px;
	background-color: var(--color-light);
}

.dropdown_content li option {
	height: 50px;
	padding: 15px;
	font-size: clamp(1.8rem, 2vw, 2rem);
	color: var(--color-light);
}
/*
.btn_drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    background-color: var(--color-primary);
}
*/
.dropdown_content li option {
	width: 100%;
	text-align: left;
}
/*
.dropdown_content li button:hover,
.dropdown_content li button:focus,
.btn_drop:hover,
.btn_drop:focus{
    background-color: var(--color-secondary);
    color: var(--color-black);
}
*/
.curtain_effect {
	max-height: 200px;
}

/*.option-select {
	width: 10.625rem;
	height: 5rem;
	margin: 20px;
	background-color: #901c1c;
	border-bottom: 1px solid #fafafa;
}*/
/*
#sorter-select::before {
	content: "___";
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 10.625rem;
	height: 5rem;
	margin: 20px;
	background-color: #901c1c;
	border-bottom: 2px solid black;
	min-height: 3rem;
}
*/

*::selection {
	background: #0db397;
	color: grey;
}

*::-moz-selection {
	background: #00cc7e;
	color: grey;
}

*::-webkit-selection {
	background: #00cc0a;
	color: #292626;
}
