main {
	padding: 0 120px;
}

.logo {
	height: 2.78rem;
	margin-left: 7.5rem;
}

button {
	background-color: transparent;
}
button,
a {
	cursor: pointer;
	outline: none;
	border: none;
}

/*****HEADER*****/

.photograph-header {
	background-color: var(--color-light-medium);
	height: 18.75rem;
	/* margin: 0 6.25rem; */
	display: flex;
	/* flex-flow: row nowrap; */
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 5px;
	padding: 40px;
	margin-top: 40px;
}

.photographer-profile-infos {
	display: flex;
	flex-direction: column;

	/*margin-left: 2.33%;
	margin-right: -9%;
	padding: 20px; */
	order: 0;
}

.portrait-Container {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin: 20px;
	width: 200px;
	height: 200px;
	order: 2;
	border-radius: 50%;
	overflow: hidden;
	margin: 51px 20px 30px 20px;
}
.photographer-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	scale: 1.3;
	margin-top: 1%;
	margin-right: 2%;
}

.photographer-name h1 {
	color: var(--color-tertiary);
	font-size: 2.3rem;
	font-weight: 400;
	/* line-height: 0; */

	width: 100%;
	/* margin-top: 67px; */
}

.photographer-city {
	color: var(--color-primary);
	font-size: 1.2rem;
	font-weight: 400;
	/* line-height: 0; */
	margin-top: 10px;
}

.photographer-tagline {
	color: var(--color-dark);
	font-size: 1rem;
	font-weight: 400;
	margin-top: 20px;
}

.contact-button {
	font-size: 1.25rem;
	font-weight: bold;

	color: var(--color-light);
	padding: 0.69rem;
	width: 10.625rem;
	height: 4.38rem;
	border: none;
	background-color: var(--color-primary);
	border-radius: 0.313rem;
	cursor: pointer;
	display: flex;
	order: 1;
	margin: auto;
	align-items: center;
	justify-content: center;

	/*font-size: clamp(1.8rem, 2vw, 2rem);
	font-weight: bold;
	color: var(--color-light);
	padding: 15px;
	height: 50px;
	background-color: var(--color-primary);
	border-radius: 5px;*/
}

.btn-open:hover,
.btn-open:focus {
	background-color: var(--color-secondary);
	color: var(--color-black);
}

/****** CONTACT MODAL ********/
/*.no-scroll {
	overflow: hidden;
}
*/
.wrapper {
	z-index: 1;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: rgba(33, 32, 32, 0.7);
	inset: 0;
}
/*
.contact-modal {
	z-index: 1;
	position: fixed;
	left: 50%;
	top: 57%;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
	border-radius: 0.5rem;
	background-color: #db8876;
	width: 40rem;
	padding: 2rem;
}*/

.modal {
	position: absolute;
	left: 30%;
	top: 13%;
	/*transform: translate(-50%, -50%);*/
	border-radius: 0.5rem;
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	width: 40rem;
	padding: 2rem;
	/* opacity: 0; */
	transform: translateY(-150px);
	animation: fadeIn 0.3s ease-in-out forwards;
}

.modal header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 1rem;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.modal-name-photographer {
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	margin-bottom: 10px;
}

.moadal form {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 10;
	/* align-items: flex-start; */
}

.formData {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.formData label {
	color: #312e2e;
	font-size: 2em;
}
/*
form input {
	width: 100%;

	height: 4.25rem;
	border: none;

	border-radius: 0.313rem;
}*/

.formData input {
	height: 50px;
	padding-left: 10px;
	border: none;
	border-radius: 5px;
}

.formData textarea {
	border-radius: 5px;
	height: 150px;
	resize: none;
	padding: 10px;
}

.errormessage {
	display: none;
	color: red;
	font-weight: bold;
}
/*
.d-none {
	display: block;
}*/

.formData input[aria-invalid="false"],
.formData textarea[aria-invalid="false"] {
	border: 3px solid green;
}

.formData input[aria-invalid="true"],
.formData textarea[aria-invalid="true"] {
	border: 3px solid red;
}

/*
.formData span {
	color: var(--color-dark);
	font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

.formData input:invalid:focus,
.formData textarea:invalid:focus {
	outline: 2px solid var(--color-primary);
}

.invalid {
	outline: 2px solid var(--color-primary);
}

.valid {
	outline: 2px solid green;
}
*/
.btn-submit {
	max-width: 150px;
	font-size: 2em;
	font-weight: bold;
	color: var(--color-light);
	background-color: var(--color-primary);
	border-radius: 5px;
	padding: 0.69rem;
	width: 10.625rem;
	height: 4.38rem;
	margin-top: 0.5rem;
}

.btn-submit:hover,
.btn-submit:focus {
	outline: 2px solid var(--color-light);
}
/*
form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;

	margin-bottom: 1.625rem;
}
*/
.modal-close-btn {
	width: 5rem;
	height: 5rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/**************************************/
/*
.contact-modal {
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: relative;
	border-radius: 5px;
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 20px;
	width: 90%;
	max-width: 600px;
	opacity: 0;
	transform: translateY(-150px);
	animation: fadeIn 0.3s ease-in-out forwards;
}

.modal header {
	width: 100%;
	font-size: 2rem;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: normal;
	font-size: 2rem;
}

.modal-close-btn {
	width: 5rem;
	height: 5rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.modal-close-btn:hover::before {
	color: var(--color-primary);
}
.modal-close-btn:focus:not(:hover)::before {
	outline: 2px solid var(--color-primary);
}
.modal-close-btn::before {
	content: "\f00d";
	font-family: "Font Awesome 5 Free";
	padding: 5px;
	border-radius: 5px;
	font-weight: 900;
	color: var(--color-light);
	font-size: clamp(2rem, 3vw, 3rem);
}

.modal form {
	display: flex;
	width: 100%;
	gap: 10px;
	flex-direction: column;
}

.formData {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.formData label {
	color: #312e2e;

	font-size: 2.25rem;
}

.formData input {
	height: 50px;
	padding-left: 10px;
	border: none;
	border-radius: 5px;
}

.formData textarea {
	border-radius: 5px;
	height: 150px;
	resize: none;
	padding: 10px;
}

.formData span {
	color: var(--color-dark);
	font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}
.formData input:invalid:focus,
.formData textarea:invalid:focus {
	outline: 2px solid var(--color-primary);
}

.btn-submit {
	max-width: 150px;
}

.btn-submit:hover,
.btn-submit:focus {
	outline: 2px solid var(--color-light);
}*/

/****MEDIAS********/
.medias {
	/*	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 50px;*/

	margin-top: 30px;
	margin-bottom: 60px;
}

.gallery {
	/*display: grid;
	grid-template-columns: repeat(auto-fill, 35rem);
	justify-content: space-between;
	gap: 2em 1em;
	padding: 2em 0;*/

	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

	gap: 30px 60px;
}

.gallery-card {
	display: flex;
	/* flex-flow: column nowrap; */
	flex-direction: column;
	/* width: 35rem; */
	gap: 10px;
}

.gallery-card a {
	border-radius: 5px;
	overflow: hidden;
}
/*
.gallery-card a figure {
	height: 260px;
	transition: all 0.2s ease-in-out;
}*/

.gallery-media {
	/*width: 22rem;
	height: 22rem;*/
	/* object-fit: cover; */
	border-radius: 0.5rem;
	height: 300px;
	width: 350px;
}

.gallery-card figcaption {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.gallery-card figcaption h2 {
	font-weight: 400;
	color: var(--color-primary);
	font-size: 1.5rem;
}

.gallery-card figcaption div {
	align-self: flex-start;
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--color-primary);
	font-size: 1.3rem;
}

.btn-like {
	border-radius: 5px;
	padding: 0 1px;
	font-size: 1.3rem;
	color: var(--color-secondary);
}

.btn-like:focus-visible:not(:hover) {
	outline: 2px solid var(--color-secondary);
}

.btn-like.wished {
	color: var(--color-primary);
}

aside {
	z-index: 1;
	position: fixed;
	bottom: 0;
	right: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	width: 375px;
	height: 89px;
	padding: 30px;
	margin-top: 20px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.5rem;
	background-color: var(--color-secondary);
}

/*****LIGHTBOX*****/
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
