@import url("photographer.css");

* {
	font-family: "DM Sans", sans-serif;
}
:root {
	--color-primary: #901c1c;
	--color-secondary: #db8876;
	--color-tertiary: #d3573c;
	--color-dark: #000;
	--color-dark-medium: #757575;
	--color-dark-intense: #525252;
	--color-light: #fff;
	--color-light-medium: #fafafa;
	--color-label: #312e2e;
}

#main {
	width: 100%;
	max-width: 1440px;
	min-width: 320px;
	box-sizing: border-box;
}

body {
	/* font-family: "DM Sans", sans-serif; */
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* height: 90px; */
	height: 5.5rem;
}
/*
a:focus,
img:focus {
	border: 2px solid #95fff9;
}
*/
.home-link {
	text-decoration: none;
}

h1 {
	color: var(--color-primary);
	/* margin-right: 100px; */
	margin-right: 6.25rem;
}

.logo {
	height: 3.13rem;
	margin-left: 6.25rem;
}

.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4.375rem;
	margin-top: 6.25rem;
}

.photographer_section article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photographer-link {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	line-height: 0;
}

.photographer-link :hover,
.photographer-link:focus {
	font-weight: bold;
}

.photographer_section article h2 {
	color: var(--color-tertiary);
	font-size: 2rem;
	font-weight: 400;
	line-height: 0;
}

.photographer_section article img {
	height: 12.5rem;
	width: 12.5rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: bottom center;
	line-height: 0;
	background-color: lightgray;
	filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));

	/* background-size: -34.731px / 57.605% 112.699%; */
	/* background-position: -34.731px / 57.605% 112.699%; */
}

.photographer-placeResidence {
	color: var(--color-primary);
	text-align: center;
	font-size: 0.82rem;
	font-weight: 400;
	line-height: 0;
}
.photographer-slogan {
	color: var(--color-dark);
	text-align: center;
	font-size: 0.625rem;
	font-weight: 400;
	line-height: 0;
}
.photographer-rate {
	color: var(--color-dark-medium);
	text-align: center;
	font-size: 0.563rem;
	font-weight: 400;
	line-height: 0;
}
